#root {
  text-align: center;
}

.invert-text {
  color: #000!important;
}

.colors-container {
  height: 100vh;
  min-width: 100%;
  display:flex;
  justify-content: center;
}

.color {
  flex-grow: 1;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
