#root {
  text-align: center;
}

.invert-text {
  color: #000!important;
}

.colors-container {
  height: 100vh;
  min-width: 100%;
  display:flex;
  justify-content: center;
}

.color {
  position: relative;
  flex-grow: 1;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.value-container {
  width: 18 5px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  cursor: pointer;
  padding: 0.1em 0.8em;
  margin: 0.4em 0;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  transition: scale 0.2s;
}

.value:hover {
  scale: 1.2;
}

.border {
  width: 60px;
  height: 100vh;
  position: absolute;
  left: -30px;
  z-index: 9;
}

.plus {
  position: absolute;
  height: 100vh;
  width: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus > div:hover {
  scale: 1.2;
  cursor: pointer;
}

.plus > div {
  background-color: #FFF;
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  transition: scale 0.2s;
}

.plus > div > img {
  width: 20px;
}

.minus {
  border-radius: 50%;
  padding: 10px;
  background-color: #FFF;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  transition: scale 0.2s, opacity 0.2s;
}

.minus > img {
  width: 20px;
}

.minus:hover {
  scale: 1.2;
  cursor: pointer;
  opacity: 1;
}

.clipboard-container {
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  opacity: 0;
  animation: 1s ease-out clipboard;
}

.input-container {
  position: absolute;
  top: 20px;
}

.input {
  color: #FFF;
  text-align: center;
  border-radius: 1.2em;
  font-size: 1.2rem;
  padding: 0.2em 0;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

input:focus {
  outline: none;
  border: solid #FFF 1px;
}

@keyframes clipboard {
  0% {
    opacity: 0;
    bottom: 0;
  }
  30% {
    opacity: 1;
    bottom: 20px;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1800px) {
  .colors-container {
    justify-content: flex-start;
    flex-direction: column;
  }
  .color {
    min-height: 200px;
  }
  .border {
    height: 60px;
    width: 100vw;
    left: 0;
    top: -30px;
  }
  .plus {
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
  }

  .value-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: auto;
  }

  .value {
    margin-left: 0.6em;
    margin-right: 0.6em;
  }
  
  .minus {
    margin: 0 auto;
    grid-column: span 3;
  }

  .value {
    font-size: 1.5rem;
  }

  .input-container {
    top: 5px;
  }
}

@media (max-width: 850px) {
  .value {
    font-size: 1.5rem;
  }
  .value-container {
    display: flex;
    flex-direction: column;
  }
  .color {
    min-height: 300px;
  }
  .input-container {
    top: 5px;
  }
}
